* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: cursive;
}

.container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    width: 400px;
    height: 150px;
    border: 1px solid black;
    font-size: 1rem;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.card:nth-child(1),
.card:nth-child(2),
.card:nth-child(3) {
    margin-top: 2rem;
}

.card:last-of-type {
    margin-bottom: 2rem;
}

.title {
    font-weight: bold;
}

.form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-inline: auto;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.form > button {
    width: 50px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

textarea {
    resize: none;
    height: 70px;
    text-indent: 10px;
    width: 90%;
}

input{
    width: 90%;
}
