* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: cursive;
}

.body{
    font-size: .8rem;
}

.container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    width: 400px;
    height: 150px;
    border: 1px solid black;
    font-size: 1rem;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: inset 0 0 10px gray;
}

.card:nth-child(1),
.card:nth-child(2),
.card:nth-child(3) {
    margin-top: 2rem;
}

.card:last-of-type {
    margin-bottom: 2rem;
}



.title {
    font-weight: bold;
    margin-bottom: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-inline: auto;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.form > button {
    width: 8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid white;
    background: linear-gradient( lightblue, lightgreen);
    font-size: large;
    color: white;

}

.form > button:hover{
    transition: all 5s;
    background: linear-gradient(lightgreen, lightblue);

}

textarea {
    resize: none;
    height: 70px;
    text-indent: 2px;
    width: 90%;
    border-radius: 10px;
    outline: none;
}

input{
    width: 90%;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
}

input:focus{
    border: 1.5px solid green;
}


textarea:focus{
    border: 1.5px solid green;
}